/*Universal styles*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  background: url(../App/brewery.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 10rem;
  font-family: "Roboto";
  font-weight: Bold;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Roboto";
}

p {
  font-size: 1.5rem;
}

h1, p, a, h2, h3, h4, li {
  color: #f28e1c;
}

li {
  display: inline-block;
  font-family: "Montserrat";
}

img {
  height: 15rem;
  width: 15rem;
  border: solid 2px #f28e1c;
}

/*title*/

.Title-header {
  position: fixed;
  z-index: 1;
  background-color: black;
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 2px #f28e1c;
}

/*Menu options*/

.Beer-Types {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  width: 100%;
}

.Beer-Types li {
  cursor: pointer;
}

.Beer-Types li:hover,
.Beer-Types li.active,
.Beer-Types li.active:hover {
  color: #d4cfcf;
}

.Add-Beer {
  color: #d4cfcf;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}

.plus-icon {
  cursor: pointer;
  color: #f28e1c;
}

.plus-icon:hover,
.plus-icon.active,
.plus-icon.active:hover {
  color: #d4cfcf;
}

/*conatiner for beer lists*/
.HomePage {
  position: relative;
  height: 100%;
  top: 16rem;
}



/*Beer List determination*/

.Beer-List {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
  padding-right: 6%;
}

/* Add Beer Dialogue Box*/

.Dialogue-Box {
  top: 10rem;
  position: fixed;
  z-index: 2;
  border: solid 2px #f28e1c;
  width: 40rem;
  height: 22rem;
  background-color: rgb(0,0,0);
  border-radius: 5px;
}

.Add-Dialogue {
  display: flex;
  justify-content: center;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu-items li {
  border: solid 1px #f28e1c;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.menu-items li:hover,
.menu-items li.active,
.menu-items li.active:hover {
  color: #d4cfcf;
}

.required-fields {
  margin-top: 5px;
  text-align: center;
  color: red;
}

.required {
  color: red;
}

.beer-input-fields {
  margin-top: 20px;
  padding: 5px 5px;
  color: #f28e1c;
}

.beer-input-fields form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beer-input-fields label {
  margin: 10px 30px;
}

input, textarea, select {
  border: solid 2px #f28e1c;
  border-radius: 5px;
}


#beer-dropdown label, #beer-dropdown select  {
  margin-top: 0.67rem;
}

#beer-dropdown label {
  margin-right: 5px;
}

.beer-color {
  margin-right: 2rem;
}


.formfielddesc {
  display: flex;
}

/*Beer Tiles*/

.Lager-Tile {
  background-color: rgba(0,0,0,0.75);
  color: #f28e1c;
  width: 28%;
  margin: 1.5%;
  border: solid 2px #f28e1c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}


.Beer-information {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.beerimg {
  margin-top: 0.5rem;
}

.beerdesc, .location, .Beer-information {
  margin-top: 0.5rem;
}

.beerdesc {
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.beerdesc p {
  font-size: 1rem;
}

.delete-me {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  cursor: pointer;
}

.delete-me span  {
  border: solid 1px #f28e1c;
  padding: 1px 4px;
  border-radius: 5px;
}

.delete-me span:hover,
.delete-me span.active,
.delete-me span.active:hover {
  color: #d4cfcf;
}

/*Media Queries*/


@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 5rem;
  }
  .Lager-Tile {

  }
  .Title-header {

  }
}
